<div id="pickup">
  <form (ngSubmit)="SubmitForm()">
    <h1>Change parameters for a choosen elevator</h1>
    <div id="labels">
      <div class="label">
        <label>Current floor(between 0 and 15): </label>
        <input type="number" id="floor" name="floor" min="0" max="15" [(ngModel)]="floor"/>
      </div>
      <div class="label">
        <label>Target(between 0 and 15): </label>
        <input type="number" id="destination" name="destination" min="0" max="15" [(ngModel)]="currentDestination"/>
      </div>
    </div>

    <button type="submit" id="confirm">Confirm</button>
  </form>
</div>

