#home {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

header {
  padding: 50px;
  font-size: 40px;

}

h1 {

  margin: 0;
  color: #ffd6d6;
  text-shadow:
      0 0 7px #ffecec,
      0 0 10px #ffcfcf,
      0 0 15px #ffcdcd,
      0 0 25px rgb(255, 186, 186),
      0 0 40px rgb(255, 160, 160),
      0 0 55px rgb(255, 142, 142),
      0 0 62px rgb(255, 129, 129),
      0 0 75px rgb(255, 115, 115);
}

menu {
  width: 1000px;
  height: 500px;
  background-color: var(--menu-color);
  border-radius: 30px;
  padding: 20px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.option {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}

.option > p {
  margin-left: 15px;
  font-family: "Oxyge-Regular", Arial, Helvetica, sans-serif;
  color: white;
  letter-spacing: 1px;
}

.button {
  text-align: center;
  cursor: pointer;

  background-color: #ff0000;
  border: none;
  border-radius: 30px;
  box-shadow: 0 9px #999;
  width: 60px;
  height: 60px;
}

.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#screws {
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.screw {
  top: 10px;
  left: 49%;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-image: url('/src/assets/images/screw.jpg');
  -moz-box-shadow: 0px 3px 8px #000;
  -webkit-box-shadow: 0px 3px 8px #000;
  box-shadow: 0px 3px 8px #000;

}
.indent {
  position: relative;
  height: 10px;
  width: 30px;
  top: 10px;
  background-image: url('/src/assets/images/screw.jpg');
  -moz-box-shadow: inset 0px 3px 8px #222;
  -webkit-box-shadow: inset 0px 3px 8px #222;
  box-shadow: inset 0px 3px 8px #222;
  transform:rotate(150deg);
  -ms-transform:rotate(150deg);
  -webkit-transform:rotate(150deg);
  border-radius: 2px;
}
